<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Actualizar tipo de lugar</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="zoneData.name" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="updateZone()">Actualizar</button>
        </div>
    </div>
</div>