<div class="container custom-container-2">
    <!-- Se muestra cuando no existen tipo de lugar -->
    <div class="no-data text-center">
        <button class="btn btn-outline-primary" routerLink="/creacion">Crear Zona</button>
    </div>
    <!-- Tabla de contactos, se oculta cuando no existen registros -->
    <div *ngIf="listZones.length !== 0">
        <h3 class="mb-3 text-center">Lista de Zonas</h3>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listZones">
                        <td>{{item.idZone}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <button class="btn btn-outline-warning" >
                                <span class="edit" routerLink="/edicion/{{item.idZone}}">Editar</span>
                            </button>
                            <button class="btn btn-outline-danger" >
                                <span class="delete" (click)="eliminarZone(item.idZone)">Eliminar</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>