<div style="text-align:center">
  <div class="jumbotron">
    <h2>
      Bienvenido a {{title}}
    </h2>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="consulta">Consultas</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
