<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Crear zona</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="zone.name" class="form-control" placeholder="Nombre">
        </div>
        
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="ingresarZone()">Crear</button>
        </div>
    </div>
</div>
